/**
 * @name Remove Useless Chat Buttons
 * @author Multarix & Bonkeyzz
 * @authorId 309931975102300160
 * @authorLink https://plusinsta.xyz
 * @version 1.0.0
 * @description A small CSS tweak to remove those useless chat buttons. (Removes all, except GIF picker.)
 * @source https://github.com/Bonkeyzz/Discord-Remove-useless-chat-buttons
*/

[aria-label="Apps"] {
display:none
}
[aria-label="Open sticker picker"] {
display:none
}
[aria-label="Send a gift"] {
display:none
}
[aria-label="Boost this server"] {
display:none
}
[id="channel-attach-THREAD"] {
display:none
}
div[class^="channelAppLauncher"] {
display:none
}